@page
@model Bootstrap4Model
@{
    ViewData["Title"] = "Bootstrap4";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">







        <div class="card center-block">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h3>Mobile</h3>
                    </div>
                    <div class="col text-right">
                        <i class="fa fa-wifi p-1"></i>
                        <i class="fa fa-battery-half p-1"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="p-3">
                        <div class="btn btn-outline-primary">
                            <i class="fa fa-facebook fa-3x"></i>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="btn btn-outline-primary w-100">
                            <i class="fa fa-twitter fa-3x"></i>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="btn btn-outline-primary w-100">
                            <i class="fa fa-instagram fa-3x"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a href="tel:+13105551212" class="btn btn-primary"><i class="fa fa-phone fa-3x"></i></a>
                    </div>
                    <div class="col text-right">
                        <a href="tel:+13105551212"><div class="btn btn-primary"><i class="fa fa-camera fa-3x"></i></div></a>
                    </div>
                </div>
            </div>
        </div>


        <br /><br /><br /><br /><br /><br /><br /><br />

        <h1>Hello, world!</h1>

        <div class="d-flex flex-column-reverse" ">
            <div class="p-3 bg-danger">
                1
            </div>
            <div class="p-3 bg-purple">
                2
            </div>
            <div class="p-3 bg-dark">
                3
            </div>
        </div>


        <div class="row">
            <div class="col bg-primary p-3">
                1
            </div>
            <div class="col bg-outline-primary p-3">
                2
            </div>
            <div class="col bg-secondary p-3">
                3
            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>