@page
@model FormModel


<div class="container">

    <form action="Preview" method="post">
        <div class="form-group">
            <label for="friendname" sr-only="Friend's Name">Friend's Name</label>
            <input name="friendname" type="text" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="friendemail" sr-only="Friend's Email">Friend's Email</label>
            <input name="friendemail" type="email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="subject" sr-only="Subject">Subject</label>
            <input name="subject" type="text" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="message" sr-only="Message">Message</label>
            <textarea name="message" class="form-control" required maxlength="140"></textarea>
            <div class="countdown"></div>
        </div>
        <div class="form-group">
            <label for="sendername" sr-only="Your Name">Your Name</label>
            <input name="sendername" type="text" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="senderemail" sr-only="Your Email">Your Email</label>
            <input name="senderemail" type="email" class="form-control" required />
        </div>
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6Le-Jy0UAAAAAMyxngpkD12DzzXto51KmZNciDG2"></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>

</div>

@section scripts {

    <!-- BEGIN: TEXTAREA AUTOSIZE -->
    <script src="~/lib/textarea-autosize/dist/jquery.textarea_autosize.js"></script>
    <script>
        $('textarea').textareaAutoSize();
    </script>
    <!-- END: TEXTAREA AUTOSIZE -->

    <script src="~/lib/textarea-countdown.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
}