body {
    font-family: Arial;
    font-size: 14px;
    background: #fff;
    color: #000;
}

a {
    color: #0e2ef3;
}

    a:link,
    a:visited,
    a:active,
    a:hover a:focus {
        color: #154adc;
    }



/*MY BOOTSTRAP OVERWRITES*/
.btn {
}
.btn-default {
}
.btn-primary {
    background: #ff0000
}



